<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- web.xml에  spring-security.xml 파일정보가 구성되어있어야 한다. -->
	<!-- bcryptPasswordEncoder 빈객체가   MemberServiceImpl클래스에서 주입되어 사용된다.-->
	<bean id="bcryptPasswordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>

</beans>